security:
    # Stratégie de hachage des mots de passe
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # Configuration du fournisseur d'utilisateurs (User Provider)
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            
            # Configuration de la connexion par formulaire
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                username_parameter: _username
                password_parameter: _password
            
            # Configuration de la déconnexion
            logout:
                path: app_logout
                target: app_home

    # Contrôle d'accès basé sur les URL et les rôles
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/compte, roles: ROLE_USER }

    # Hiérarchie des rôles
    role_hierarchy:
        ROLE_ADMIN: ROLE_USER